@font-face {
    font-family: 'test';
    src: url('seguiemj.ttf');
}

body {
    background-color: #ecf0f1;
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
}

#pollContainer {
    width: 100%;
    max-width: 0;
    transition: max-width 1s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    overflow-x: hidden;
    background-color: #ecf0f1aa;
}

#pollQuestion {

}

#pollAnswers {
    display: flex;
    align-items: center;
}

#pollTime {

}

#pollChart {
    height: 300px;
    width: 300px;
    background-color: white;
}

#messagesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    width: 100%;
    margin: auto;
    transition: max-width 1s linear, opacity 1s linear;
}

.message {
    max-width: 60%;
    max-height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 10s linear, padding 1s linear, margin 1s linear, transform 1s linear, opacity 1s linear;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

p {
    display: inline;
    font-family: test;
    color: white;
    white-space: pre-line;
    font-size: 1.25em;
}

img {
    width: 35px;
    height: 60px;
    padding-right: 25px;
}

.new1 {
    transform: scale(1.5);
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.new2 {
    transform: scale(1.3);
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.new3 {
    transform: scale(1.1);
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
